.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.navHeader {
  display: none;
}

.primary {
  background: #2563eb;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
}

.burger {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  gap: 3px;
  background: none;
  border: 2px solid #000000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000000;
  border-radius: 2px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin: 0 12px;
  align-self: center;
}

.userBlock {
  display: none;
}

.navUserWrapper {
  .navUserWrapper {
    display: flex;
    align-items: center;
    gap: 16x;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .userBlock {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  }

  .navHeader {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .navHeader a {
    text-decoration: none;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    /* width: 335;
  height: 40;
  opacity: 1;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 6px;
  text-align: center; */
  }
}

.navUserWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.userName {
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 8px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 39px;
  background-color: #000000;
  margin: 0 16px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.logoutIcon {
  fill: #111;
}
