.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.navHeader {
  display: none;
  align-items: center;
}

.burger {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  gap: 3px;
  background: none;
  border: 2px solid #000000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger:hover {
  border-color: #e7cdf4;
}

.burger:focus {
  background-color: #e7cdf4;
  border-color: #000000;
}

.burger:active {
  background-color: #e7cdf4;
  border-color: #000000;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin: 0 12px;
  align-self: center;
}

.userBlock {
  display: none;
}

.navUserWrapper {
  display: flex;
  align-items: center;
  gap: 16x;
  margin-left: auto;
}

.navHeader .socialButton {
  padding: 8px 20px;
  border-radius: 6px;
  text-align: center;
  background-color: #8808cc;
  color: #ffffff;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
  border: 2px solid transparent;
}

.socialButton {
  text-decoration: none !important;
}

.navHeader .socialButton:hover,
.navHeader .socialButton:focus {
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
  border-color: #8808cc;
}

.navHeader.socialButton:active {
  background-color: #e7cdf4;
}

@media only screen and (min-width: 768px) {
  .navHeader {
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-align: center;
  }
  .headLink {
    display: none;
  }

  .socialButton {
    margin-right: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .userBlock {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  }

  .navHeader {
    display: flex;
    flex-direction: row;
    gap: 32px;
    text-align: center;
  }

  .navHeader a {
    text-decoration: none;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .headLink {
    display: flex;
  }
}

.navHeader a:hover,
.navHeader a:focus {
  text-decoration: underline;
}

.navUserWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.userName {
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 8px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 39px;
  background-color: #000000;
  margin: 0 16px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.logoutIcon {
  fill: #111;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
