.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  height: 100%;
  padding: 12px 12px 0 12px;
  min-height: 500px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  color: #1a1a1a;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;
  /* Резервируем высоту на две строки, чтобы заголовки
       с 1 или 2 строками оставались на одном уровне */
  min-height: calc(1.4em * 2);
}

.price {
  font-size: 1rem;
  font-weight: 500;
  color: #4a4a4a;
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.starIcon {
  width: 24px;
  height: 24px;
}

.actions {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.detailsButton,
.editButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 1px solid #8808cc;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s;
  box-sizing: border-box;
}

.detailsButton:hover,
.editButton:hover {
  background-color: #8808cc;
  color: #fff;
  border: 2px solid #8808cc;
  padding: 9px 19px;
}

.detailsButton:focus,
.editButton:focus {
  border: 2px solid #000;
  padding: 9px 19px;
  background: #e7cdf4;
  color: #000;
  outline: none;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #8808cc;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
  flex-shrink: 0;
}

.deleteButton:hover {
  background-color: #8808cc;
  border: 2px solid #8808cc;
}

.deleteButton:focus {
  border: 2px solid #000;
  background-color: #e7cdf4;
  outline: none;
}

.deleteIcon {
  width: 24px;
  height: 24px;
  fill: #000;
  stroke: #000;
}

.deleteButton:hover .deleteIcon {
  fill: #fff;
  stroke: #fff;
}

/* Tablet strict dimensions */
@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    height: 598px;
    padding-bottom: 0;
  }
  .imageWrapper {
    height: 360px; /* Adjust based on total height */
  }
}

/* Desktop strict dimensions */
@media (min-width: 1440px) {
  .card {
    height: 562px;
    padding-bottom: 0;
  }
  .imageWrapper {
    height: 374px; /* Adjust based on total height */
  }
}
