.section {
    padding: 64px 0;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin: 0;
    margin-bottom: 24px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 32px;
}

.button {
    border: none;
    background-color: #8808CC;
    color: #fff;
    border-radius: 6px;
    padding: 10px 24px;
    width: 335px;
    height: 44px;
    margin-bottom: 32px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: white;
    border: 2px solid #8808CC;
    color: black;
}

.button:active {
    background-color: #E7CDF4;
    border: 2px solid #8808CC;
    color: black;
}


.RgImg {
    border-radius: 16px;
}

@media (min-width: 768px) {

    .title {
         font-size: 30px;
    }

    .text {
        max-width: 517px;
    }

    .button {
        width: 186px;
        height: 44px;
    }

    .RgImg {
        width: 704px;
        height: 469px;
    }
}

@media (min-width: 1440px) {
    .section {
        padding: 112px 0;
    }

    .title {
        font-size: 42px;
    }

    .text {
        font-size: 18px;
        max-width: 577px;
    }

    .button {
        margin-bottom: 0;
    }

    .RgImg {
        width: 525px;
        height: 350px;
    }

    .wrapper {
        display: flex;
        gap: 32px;
    }

    .textDiv {
        max-width: 755px;
    }
}