
.detailsPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0 64px;
}

@media only screen and (min-width: 1440px) {
    .detailsPage {
        flex-direction: row;
    }
}
