.section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #222;
}

.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.viewButton {
  border: 1px solid #8808cc;
  border-radius: 6px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 335px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  background: #8808cc;
  transition: background-color 0.3s;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.viewButton:hover {
  background: none;
  color: #000;
}

.viewButton:active {
  background: #e7cdf4;
}

.empty {
  padding: 64px 24px;
  text-align: center;
  color: #666;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 64px;
  }

  .viewButton {
    width: 169px;
    height: 41px;
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    row-gap: 64px;
  }

  .viewButton {
    width: 183px;
    height: 44px;
  }

  @media (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 960px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.loadMoreWrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loadMoreBtn {
  border: 1px solid #8808cc;
  border-radius: 6px;
  padding-block: 10px;
  padding-inline: 24px;

  width: 335px;
  height: 41px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  background: #8808cc;
  transition: background-color 0.3s;
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.loadMoreBtn:hover {
  background: #fff;
  color: #000;
}

.loadMoreBtn:active {
  background: #fff;
  color: #000;
}


@media (min-width: 768px) {
  .loadMoreBtn {
    width: 169px;
    height: 41px;
  }
}

@media (min-width: 1440px) {
  .loadMoreBtn {
    width: 183px;
    height: 44px;
  }
}
