.backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  max-width: 334px;
  width: 100%;
  position: relative;
  padding: 64px 20px;
  text-align: center;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out;;
}

.close:hover, .close:focus {
    border: 1px solid #000;
border-radius: 6px;
background: #e7cdf4;
}

.close:active {
    border-color: #8808cc;
    background-color: #8808cc;
}

.close:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.closeIcon {
  width: 24px;
  height: 24px;
  color: #000;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0 0 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 48px;
}

.btnsWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.loginBtn:hover,
profileBtn:hover {
  background-color: #e7cdf4;
}

.loginBtn:active {
  border-color: #8808cc;
  background-color: #8808cc;
  color: #fff;
}

.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8808cc;
  background-color: #8808cc;
  color: #fff;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.registerBtn:hover,
rentBtn:focus {
  background-color: transparent;
  color: #000;
}

.registerBtn:active {
  background-color: #e7cdf4;
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 64px 32px;
  }

  .btnsWrap {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
    min-width: 768px;
  }

  .close {
  width: 32px;
  height: 32px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 18px;
  }

  .loginBtn,
  .registerBtn {
    height: 44px;
    font-size: 16px;
  }
}
