.wrapper {
  font-family: "Work Sans", sans-serif;
  color: #000;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0 0 8px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin: 0 0 24px;
}

.userProfile {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.userIconWrap {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userName {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.profileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: transparent;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  width: 192px;
  height: 37px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #000;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out,
    border-color 250ms ease-in-out;
}

.profileBtn:hover,
profileBtn:hover {
  background-color: #e7cdf4;
}

.profileBtn:active {
  border-color: #8808cc;
  background-color: #8808cc;
  color: #fff;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 24px;
}

.specificationsList {
  display: flex;
  padding: 0;
  margin: 0 0 24px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.speclabel {
  font-weight: 700;
  flex-shrink: 0;
}

.rentBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  border: 2px solid #8808cc;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  background-color: #8808cc;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition:
    color 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.rentBtn:hover,
rentBtn:focus {
  background-color: transparent;
  color: #000;
}

.rentBtn:active {
  background-color: #e7cdf4;
}

.profileBtn:disabled, rentBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* @media only screen and (min-width: 768px) {

} */

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 40px;
  }

  .price {
    font-size: 24px;
  }

  .userName {
    font-size: 16px;
  }

  .profileBtn {
    width: 214px;
    font-size: 16px;
    height: 40px;
  }
  .description {
    font-size: 16px;
  }

  .specificationsList {
    font-size: 16px;
  }

  .rentBtn {
    font-size: 16px;
    height: 44px;
  }
}
