.imgWrap {
  border-radius: 16px;
  height: 251px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media only screen and (min-width: 768px) {
  .imgWrap {
    height: 528px;
  }
}

@media only screen and (min-width: 1440px) {
  .imgWrap {
    height: 480px;
    width: 640px;
    flex-shrink: 0;
  }
}