@import "modern-normalize";

body {
  font-family:
    var(--font-Inter),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  min-width: 375px; /* Prevent layout breakage on very small screens */
}
:root {
  --font-family:
    var(--font-Inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;

  /* === COLORS з макету FilterBar === */
  --color-neutral-darkest: #1c1c1c;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-electric-violet-lightest: #f4f1ff;
  --color-electric-violet-lighter: #e6deff;
  --color-electric-violet-light: #c5b8ff;
  --color-electric-violet-dark: #8e7aff;
}
button{
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
}
/* Container - Mobile First Approach */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
