.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  width: 100%;
}

.navMobile a {
  text-decoration: none;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.burger {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  gap: 3px;
  background: none;
  border: 2px solid #000000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000000;
  border-radius: 2px;
}

.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.registerButton {
  display: block;
  width: 100%;
  max-width: 335px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: center;
  background-color: #8808cc;
  color: #ffffff !important;
  text-decoration: none;
  cursor: pointer;
}

.registerButton:hover,
.registerButton:focus {
  background-color: #a100e0;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .registerButton {
    max-width: 178px;
  }
}

@media only screen and (min-width: 1440px) {
  .mobileMenu {
    display: none;
  }
}

.navUserWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.userName {
  font-family: Work Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 8px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 39px;
  background-color: #000000;
  margin: 0 16px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.logoutIcon {
  fill: #111;
}

.userBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}
