.mobileMenu {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.burgerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  height: 72px;
  box-sizing: border-box;
}

.navMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.navMobile a {
  text-decoration: none;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
