.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  width: 100%;
}

.navMobile a {
  text-decoration: none;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.navMobile a:hover,
.navMobile a:focus {
  text-decoration: underline;
}

.burger {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  gap: 3px;
  background: none;
  border: 2px solid #000000;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger:hover {
  border-color: #e7cdf4;
}

.burger:focus {
  background-color: #e7cdf4;
  border-color: #000000;
}

.burger:active {
  background-color: #e7cdf4;
  border-color: #000000;
}

.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.navMobile .socialButton {
  padding: 8px 98.5px;
  border-radius: 6px;
  white-space: nowrap;
  text-align: center;
  background-color: #8808cc;
  color: #ffffff;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
  border: 2px solid transparent;
}

.navMobile .socialButton:hover,
.navMobile .socialButton:focus {
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
  border-color: #8808cc;
}

.navMobile .socialButton:active {
  background-color: #e7cdf4;
}

@media only screen and (min-width: 768px) {
  .navMobile .socialButton {
    padding: 8px 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .mobileMenu {
    display: none;
  }

  .navMobile .socialButton {
    padding: 8px 20px;
  }
}

.navUserWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.userName {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 8px;
}

.separator {
  display: inline-block;
  width: 1px;
  height: 39px;
  background-color: #000000;
  margin: 0 16px;
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.logoutIcon {
  fill: #111;
}

.userBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
