.stars {
    display: flex;
    gap: 4px;
    color: #000;
    /* один колір для всіх зірок */
}

.stars svg {
    width: 24px;
    /* однаковий розмір для всіх */
    height: 24px;
    /* однаковий розмір для всіх */
    fill: currentColor;
    /* використовує колір батька */
}