/* Контейнер */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  margin-bottom: 32px;
}

/* Обгортка */
.selectWrapper {
  position: relative;
  width: 100%;
}

/* --- ЗАКРИТА КНОПКА (SelectButton) --- */
.selectButton {
  width: 100%;
  min-height: 40px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  background: var(--opacity-transparent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-neutral-darkest);
  cursor: pointer;
}

.selectButton.open {
  background: var(--color-electric-violet-lightest);
  border: 2px solid var(--color-electric-violet-light);
  border-radius: 6px 6px 0 0;
}

/* --- СТРІЛКА SVG --- */
.arrow {
  width: 12px;
  height: 12px;
  margin-left: auto;

  transition: transform 0.25s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* --- ВІДКРИТЕ МЕНЮ --- */
.dropdown {
  position: absolute;
  top: calc(100% - 2px);
  width: 100%;

  max-height: 416px;
  border: 2px solid var(--color-electric-violet-light);
  border-radius: 6px;
  background: var(--color-electric-violet-lightest);
  padding: 6px 0;
  overflow-y: auto;
  z-index: 20;

  padding-right: 14px;
}

.dropdown::-webkit-scrollbar {
  width: 7px;
}

.dropdown::-webkit-scrollbar-track {
  background: var(--color-electric-violet-light);
  border-radius: 4px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-clip: content-box;
}

.dropdown::-webkit-scrollbar-thumb {
  border-radius: 4px;
  width: 7px;
  height: 56px;
  background: var(--color-electric-violet-dark);
}

/* --- ПУНКТИ МЕНЮ --- */
.option {
  width: 100%;
  min-height: 40px;
  padding: 8px 28px 8px 12px;

  display: flex;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-neutral-darkest);
  cursor: pointer;
}

.option:hover {
  background: var(--color-electric-violet-lighter);
}

/* Кнопка скидання */
.resetButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-neutral-darkest);
  margin-left: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.resetButton:disabled {
  opacity: 0.4;
  cursor: default;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .selectButton {
    max-width: 304px;
  }
  .resetButton {
    white-space: nowrap;
  }
  .dropdown {
    max-width: 304px;
  }
}
