/* Контейнер */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* Обгортка */
.selectWrapper {
  position: relative;
  width: 304px;
}

/* --- ЗАКРИТА КНОПКА (SelectButton) --- */
.selectButton {
  width: 304px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;

  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;

  background: var(--opacity-transparent);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);

  cursor: pointer;
}

/* Стрілка */
.arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-neutral-darkest);
  border-bottom: 2px solid var(--color-neutral-darkest);
  transform: rotate(45deg);
  transition: 0.25s ease;
}

.arrow[data-open="true"] {
  transform: rotate(-135deg);
}

/* ВІДКРИТЕ МЕНЮ */
.dropdown {
  position: absolute;
  top: 44px;
  width: 304px;
  height: 305px;

  border: 2px solid var(--color-electric-violet-light);
  border-radius: 6px;

  background: var(--color-electric-violet-lightest);

  overflow-y: auto;
  padding: 6px 0;

  z-index: 20;
}

/* СКРОЛ */
.dropdown::-webkit-scrollbar {
  width: 7px;
  background: var(--color-electric-violet-dark);
  border-radius: 4px;
}

.dropdown::-webkit-scrollbar-thumb {
  width: 3px;
  height: 56px;
  background: var(--color-electric-violet-light);
  border-radius: 4px;
}

/* --- ПУНКТИ МЕНЮ --- */
.option {
  padding: 10px 14px;
  margin-bottom: 8px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);

  cursor: pointer;
}

.option:last-child {
  margin-bottom: 0;
}

/* Ховер */
.option:hover {
  background: rgba(106, 90, 205, 0.15);
}

/* Кнопка скидання */
.resetButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-neutral-darkest);

  background: transparent;
  border: none;
  cursor: pointer;
}

.resetButton:disabled {
  opacity: 0.4;
  cursor: default;
}
