.footer {
  background-color: #f3e6f9;
}

.logowrapper {
  display: flex;
  justify-content: center;
  margin: 48px 0 32px 0;
  height: 29px;
}

.socialLink {
  display: flex;
  justify-content: center;
  margin: 32px 0 40px 0;
  gap: 12px;
}

.logo img {
  width: 32px;
  height: 32px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  /* width: 335px; */
  height: 40px;
  opacity: 1;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 6px;
  text-align: center;
}

.nav a:hover,
.nav a:focus {
  background: var(--Color-Electric-Violet, #8808cc);
  box-sizing: border-box;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.copy {
  margin: 32px 0 48px 0;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footerNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 81.5px 0;
  }

  .logowrapper {
    height: 20px;
    margin: 0;
  }

  .socialLink {
    margin: 0;
  }

  .copy {
    margin-bottom: 80px;
  }
}
