.footer {
  background-color: #f3e6f9;
}

.logowrapper {
  display: flex;
  justify-content: center;
  margin: 32px 0 40px 0;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  width: 335;
  height: 40;
  opacity: 1;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 6px;
  text-align: center;
}

.nav a:hover,
.nav a:focus {
  background: var(--Color-Electric-Violet, #8808cc);
  /* text-align: center; */
  box-sizing: border-box;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.copy {
  margin: 32px 0 48px 0;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}
