.footer {
  background-color: #f3e6f9;
}

.logowrapper {
  display: flex;
  justify-content: center;
  margin: 48px 0 32px 0;
  height: 29px;
}

.socialLink {
  display: flex;
  justify-content: center;
  margin: 32px 0 40px 0;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #111;
  transition: all 0.3s ease;
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  padding: 8px 20px;
}

.nav a:hover,
.nav a:focus {
  text-decoration: underline;
}

.active {
  color: #8808cc;
  text-decoration: underline;
}

.copy {
  margin: 32px 0 48px 0;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footerNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 81.5px 0;
  }

  .logowrapper {
    height: 20px;
    margin: 0;
  }

  .socialLink {
    margin: 0;
  }

  .copy {
    margin-bottom: 80px;
  }
  .companyFooter {
    width: 124px;
    height: 20;
  }
}
