.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.editable {
  position: relative;
}

.avatarContainer {
  position: relative;
  width: fit-content;
}

.fileInput {
  display: none;
}

.changeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding: 10px 20px;
  height: 44px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.2s;
  cursor: pointer;
  box-sizing: border-box;
}

.changeButton:hover {
  background-color: #8808cc;
  color: #fff;
  border: 2px solid #8808cc;
  padding: 9px 19px;
}

.changeButton:focus {
  border: 2px solid #000;
  padding: 9px 19px;
  background: #e7cdf4;
  color: #000;
  outline: none;
}

.changeButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #999;
  border-color: #999;
}

/* mobile */
@media (max-width: 768px) {
  .changeButton {
    margin-top: 8px;
    padding: 8px 16px;
    height: 40px;
    font-size: 14px;
  }

  .changeButton:hover {
    padding: 7px 15px;
  }

  .changeButton:focus {
    padding: 7px 15px;
  }
}
