.resetPassword{
    padding-top: 32px;
    padding-bottom: 32px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 48px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.input{
    border: 2px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 8px 12px;
    width: 335px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5%;
    outline: none;

}
.input:active,
.input:focus{
    border: 2px, solid, #8808cc;
    color:#000;
}
.submit {
    margin-top: 8px;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    background: #8808cc;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition:
    color 0.3s ease,
    background-color 0.3s ease;
    width: 335px;
    height: 40px;
}

.submit:hover{
    border: 2px, solid, #8808cc;
    background: #fff;
    color: #000;
}
.submit:focus{
    border: 2px, solid, #000;
    background: #e7cdf4;
    color: #000;
}
.submit:active {
    border: 2px, solid, #fff;
    background: #8808cc;
    color: #fff;
}
.field {
    display: flex;
    flex-direction: column;
}
.error{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #c40202;
}
.inputError{
    border: 2px solid #c40202;
    color: #c40202;
}
@media only screen and (min-width: 768px) {
    .resetPassword {
            padding-top: 138px;
            padding-bottom: 220px;
        }
    .title {
        font-size: 30px;
    }
    .submit{
        border-radius: 6px;
        padding: 8px 20px;
        width: 165px;
        height: 40px;
    }
    .input{
        width: 420px;
        height: 48px;
    }
}

@media only screen and (min-width: 1440px) {
        .resetPassword {
            padding-top: 154px;
            padding-bottom: 208px;
            }
        .title {
            font-size: 42px;
        }
        .input {
            width: 640px;
        }

}