.page {
  width: 100%;
  min-height: 100vh;
}

/* внутрішній wrapper, вертикальні відступи */
.inner {
  padding: 32px 0 40px;
}

/* секція інструментів */
.toolsSection {
  margin-top: 32px;
}

/* заголовок секції */
.toolsTitle {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #111827;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .inner {
    padding: 40px 0 56px;
  }

  .toolsSection {
    margin-top: 40px;
  }

  .toolsTitle {
    font-size: 26px;
    margin-bottom: 24px;
  }
}

/* desktop large (1440px+) */
@media only screen and (min-width: 1440px) {
  .inner {
    padding-top: 48px;
    padding-bottom: 64px;
  }

  .toolsTitle {
    font-size: 28px;
  }
}
